<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Log4j_v2_Profiler">
  <Appenders>
    <RollingFile name="SYNC_FILE" fileName="log4jv2-sync-file.out" filePattern="log4jv2-sync-file-%i.out">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <RollingFile name="ASYNC_FILE" fileName="log4jv2-async-file.out" filePattern="log4jv2-async-file-%i.out">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <RollingRandomAccessFile name="SYNC_RANDOM_ACCESS_FILE" fileName="log4jv2-sync-randomaccessfile.out" filePattern="log4jv2-sync-randomaccessfile-%i.out" immediateFlush="false">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingRandomAccessFile>
    <RollingRandomAccessFile name="ASYNC_RANDOM_ACCESS_FILE" fileName="log4jv2-async-randomaccessfile.out" filePattern="log4jv2-async-randomaccessfile-%i.out" immediateFlush="false">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Logger name="SyncFileLogger" level="debug">
      <AppenderRef ref="SYNC_FILE"/>
    </Logger>
    <Logger name="SyncRandomAccessFileLogger" level="debug">
      <AppenderRef ref="SYNC_RANDOM_ACCESS_FILE"/>
    </Logger>
    <AsyncLogger name="AsyncFileLogger" level="debug">
      <AppenderRef ref="ASYNC_FILE"/>
    </AsyncLogger>
    <AsyncLogger name="AsyncRandomAccessFileLogger" level="debug">
      <AppenderRef ref="ASYNC_RANDOM_ACCESS_FILE"/>
    </AsyncLogger>
    <Root level="debug">
    </Root>
  </Loggers>
</Configuration>
